body {
    background-color: black;
}

.wd-search-tuiter{
    bottom:9px;
    left: 18px;
    color: #6E767DFF;
}

.wd-settings {
    float: left;
    margin-top:4px;
}

.wd-secondary-color {
    background-color: rgb(47, 51, 54);
    border-color: transparent;
}
.wd-follow-bg {
    background-color: rgb(47, 51, 54);
}

.wd-follow-heading {
    font-size: 14pt;
    font-weight: bolder;
    color: lightgray;
}

.wd-tuit-color{
    font-weight: bolder;
    color: lightgray;
    background-color: #1DA1F2;
}

.wd-follow-text {
    font-weight: bolder;
    color: lightgray;
    font-size: 9.5pt;
    white-space: nowrap;
}

.wd-follow-account-text {
    font-size: 9.5pt;
    color: #657786;
}

.wd-border-follow {
    border-radius: 20px;
    color: #657786;
}

.wd-follow-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.wd-block-border{
    border-bottom: solid 1px;
    border-top: none;
    border-right: none;
    border-left:none;
    margin-left: -3px;
    margin-right: -3px;
    border-color: rgb(47, 51, 54);
}


.wd-text-padding{
    padding-left: 5pt;

}

.wd-follow-button{
    color: black;
    font-weight: bolder;
    font-size: 9pt;
    background-color: white;
    border: black;
    float: right;
}

.btn-primary:hover {
    background-color:#1DA1F2;
    transition: 0.3s;
}

.wd-text-color {
    color: lightgray;
}

.fa-inverse{
    color: lightgray;
}

.nav-item .active {
    font-weight: bolder;
    border-bottom-color: #1DA1F2; /*Twitter cyan color*/
    border-bottom-style: solid;
    border-bottom-width: 5px;
    color: lightgray;
    margin-left: 10px;
}

.wd-nav-regular {
    font-weight: bolder;
    color: lightgray;
    margin-left: 10px;
}

.border-main{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    padding-top: 10px;
    padding-right: 3px;
    padding-left:3px;

}
