body {
    background-color: #020203;
    color: white;
    margin-left: 16px
}


.wd-tuit-border {
    width: 700px;
    border-style: solid;
    border-width: thin;
    padding: 5px;
    color: rgb(47, 51, 54);
}

.wd-tuit-trend-status {
    margin-top: -25px;
    font-size: 13px;
    color: rgb(110, 118, 125);
    font-family: Helvetica, sans-serif;
    margin-left: 16px;
}

.wd-tuit-status {
    font-size: 13px;
    color: rgb(110, 118, 125);
    font-family: Helvetica, sans-serif;
}

.wd-tuit-link-text {
    margin-top: -20px;
    padding: 12px;
    font-size: 13px;
    color: rgb(110, 118, 125);
    font-family: Helvetica, sans-serif;
}

.wd-tuit-link-title-text {
    color: white;
    padding:12px;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
}

.wd-tuit-account {
    color: white;
    margin-top: 12px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    margin-left: 16px;
}

.wd-tuit-text {
    color: white;
    margin-top: 12px;
    font-size: 15px;
    margin-right: 50px;
    font-family: Helvetica, sans-serif;
    margin-left: 16px;
}

.tuit-account-text {
    color: white;
    margin-top: 12px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    margin-left: 16px;
}

.tuit-tab-highlight {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    padding: 16px;
    color: rgb(29, 161, 242);
}


.tuit-tab-not-highlight {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    padding: 16px;
    color: rgb(110, 118, 125);

}

.tuit-tab-not-highlight:hover {
    color: rgb(29, 161, 242);
    background-color: transparent;
    text-decoration: underline;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box div {
    width: 100%;
    height: 100px;
}

.box-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wd-box-container-top {
    width: 100%;
    display: flex;
}


.ele1 {
    width: 95%;
}

.ele2 {
    flex-grow: 1;
}

.wd-rele1 {
    width: 8%;
}

.wd-rele2 {
    flex-grow: 1;
}

.wd-rele3 {
    width: 30%;
}

.wd-rele4 {
    margin-left: -50px;
    margin-top: 15px;
    flex-grow: 1;
}

.wd-icon-spec {
    padding: 5px;
    margin-left: 40px;
    margin-top: -10px;
    width: 25%;
    position: relative;
    align-items: center;
    text-decoration:none;
    font-family: Helvetica, sans-serif;
    font-size: 10px;

}

.wd-icon-text {
    margin-top: -10px;
    padding: 12px;
}

.wd-icon-color {
    color: red;
}


.wd-tuit-content-margin {
    margin-left: 54px;
}


.wd-rounded-corner {
    margin-top: 12px;
    margin-left: 16px;
    border-radius: 50%;
}

.wd-tuit-border-img {
    margin-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    border-style: solid;
    border-width: thin;
    color: rgb(47, 51, 54);
}

.wd-tuit-link-border {
    margin-left:16px;
    width: 504px;
    border-style: solid;
    border-width:thin;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -5px
}

.wd-icon-pads{
    width:506px;
    padding-top: 10px
}
